@model DotNetStackUnderFlow.Entities.Response

@{
    ViewData["Title"] = "Details";
}

<h2>Response</h2>

<div>
    <h4>Details</h4>
    <hr />


    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.QuestionId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.QuestionId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Body)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Body)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsSolution)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsSolution)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UpVotes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UpVotes)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DownVotes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DownVotes)
        </dd>
    </dl>
</div>
<div>
    <h3 style="font-weight:bold">Comments</h3>
    <hr />
    <table class="table">
        <thead>
            <tr>
                <th>
                    Body
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var comment in Model.Comments)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => comment.Body)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
