@using DotNetStackUnderFlow.Entities;
@model DotNetStackUnderFlow.Entities.Question

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Question</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Body)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Body)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UpVotes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UpVotes)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DownVotes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DownVotes)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

    </dl>
</div>

<div>
    <p style="font-weight:bold">Responses</p>
    <hr />
    <table class="table">
        <thead>
            <tr>
                <th>
                    Body
                </th>
                <th>
                    Title
                </th>
                <th>
                    UpVotes
                </th>
                <th>
                    DownVotes
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var response in Model.Responses)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => response.Body)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => response.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => response.UpVotes)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => response.DownVotes)

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@*<div class="comments">

        <partial name="createresponse" model="new response(){ questionid = model.id }" />

        <partial name="responses" model="model.responses" />

    </div>*@


<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
