@model IEnumerable<DotNetStackUnderFlow.Entities.Question>

@{
    ViewData["Title"] = "Index";
}

<h2>Questions</h2>
<script>
    function upVote(upVoteFieldId) {
        document.getElementById(upVoteFieldId).value++;
        document.getElementById(upVoteFieldId + "upVoteButton").disabled = true;
    }
    function downVote(questionId) {
        document.getElementById(questionId + "down").value++;
        document.getElementById(questionId + "downVoteButton").disabled = true;
    }
</script>
<ul>
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Body)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UpVotes)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DownVotes)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserId)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Body)
                </td>
                <td>
                    <input readonly id="@item.Id" value="@item.UpVotes" />
                </td>
                <td>
                    <input readonly id="@($"{item.Id}down")" value="@item.DownVotes" />
                </td>
                <td>
                    @* @using (Html.BeginForm("UpVote", "Questions", FormMethod.Post))
            {
                <input hidden value="@item.Id" name="id" />
                <input hidden value="@item.UpVotes" name="upVotes" />*@
                    <button onclick="upVote(@item.Id)" class="btn btn-info btn-xs" id="@($"{item.Id}upVoteButton")" type="submit"> UpVote</button>
                    @*}*@
                    <button onclick="downVote(@item.Id)" class="btn btn-danger btn-xs" id="@($"{item.Id}downVoteButton")" type="submit"> DownVote</button>
                    @*<button class="btn btn-info btn-xs"><a asp-action="UpVote" asp-route-id="@item.Id">UpVote</a></button> |
            <button class="btn btn-danger btn-xs"><a asp-action="DownVote" asp-route-id="@item.Id">DownVote</a></button> |*@
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">See Responses</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
